@font-face {
    font-family: 'Sell Your Soul';
    src: url('/fonts/Sell-Your-Soul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@import "tailwindcss";

body {
    background: #F9F3EB;
}

/* Rotate Color Kit image everywhere it is used */
img[src$="/images/shop/shop_color_kit.webp"],
img[src$="shop_color_kit.webp"] {
  transform: rotate(90deg);
}